.intro {
  width: 100%;
  height: 100%;
  padding: 0px 100px 100px 100px;
  border: 0px solid green;
}

.intro--content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  color: white;
  font-size: 30pt;
  font-weight: 500;
}

.contact-icons > a > .MuiSvgIcon-root {
  color: rgba(63, 69, 158, 1);
  font-size: 35px;
  margin: 10px 10px 10px 0;
}
.contact-icons > a > .MuiSvgIcon-root:hover {
  color: rgba(140, 142, 174, 0.522);
}

.intro--caption {
  color: rgb(192, 192, 195);
  font-weight: 600;
  font-size: large;
}

.underline {
  box-shadow: inset 0 -0.4em 0 0 rgba(63, 69, 158, 0.876);
}
