.navbar {
  backdrop-filter: blur(10px);
  position: fixed !important;
  top: 0;
  text-align: center;
  z-index: 0;
  width: 100vw;
}

.navbar > .container {
  flex-direction: column;
  justify-content: center;
}

.navbar-brand {
  margin: 0%;
}

.navbar-toggler {
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 767px) {
  .navbar > .container {
    flex-direction: row;
  }

  .navbar-brand {
    flex: 1;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}
