.navbar {
  backdrop-filter: blur(10px);
  position: sticky !important;
  top: 0;
  text-align: center;
  z-index: 1;
  width: 100%;
  border: 0px solid red;
}

.navbar > .container {
  flex-direction: column;
  justify-content: center;
}

.navbar-brand {
  margin: 0%;
}

.navbar-toggler {
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
}

.nav-link {
  margin: 0px 10px;
  text-decoration: 5px underline rgba(63, 69, 158, 0.876);
  text-underline-offset: 8px;
}

@media screen and (max-width: 767px) {
  .navbar > .container {
    flex-direction: row;
  }

  .navbar-brand {
    flex: 1;
  }

  .navbar-toggler {
    margin-left: auto;
  }
}
