@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis/static/Dosis-ExtraBold.ttf);
}

.project {
  max-width: 600px;
  width: 100%;
  margin: 30px;
  color: aliceblue;
  border: 0px solid rgba(48, 152, 196, 0.75);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  padding: 20px 20px 10px 20px;
  box-shadow: 0px 0px 68px 0px rgba(63, 69, 158, 0.876);
  -webkit-box-shadow: 0px 0px 68px 0px rgba(63, 69, 158, 0.876);
  -moz-box-shadow: 0px 0px 68px 0px rgba(63, 69, 158, 0.876);
}

.project-gif {
  max-width: 600px;
  width: 100%;
  object-fit: contain;
}

.project-buttons {
  display: flex;
  justify-content: center;
}

.project-buttons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 0px solid red;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(63, 70, 158, 0.522);
  color: aliceblue;
  font-size: 11pt;
  margin: 10px 10px;
  padding: 5px 10px;
}

.project-buttons > a:hover {
  background-color: rgba(140, 142, 174, 0.522);
}

a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}

.project-buttons > a > .MuiSvgIcon-root {
  margin-right: 5px;
}

.project-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.project-tools > p {
  margin: 10px;
  font-size: 11pt;
  font-family: Dosis, sans-serif;
}

.html {
  color: orangered;
}

.css {
  color: royalblue;
}

.js {
  color: rgb(204, 204, 4);
}

.react {
  color: rgb(27, 214, 214);
}

.redux {
  color: rgb(156, 77, 230);
}

.firebase {
  color: orange;
}

.bootstrap {
  color: rgb(132, 66, 255);
}

.materialUI {
  color: rgb(38, 102, 213);
}

.netlify {
  color: rgb(26, 207, 146);
}
