* {
  box-sizing: border-box;
  margin: 0%;
}

.app {
  height: 100vh;
  border: 0px solid blue;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main-content {
  border: 0px solid red;
  position: absolute;
  top: 100%;
  width: 100%;
}

#projects {
  padding: 6em 0;
}

#projects > h3 {
  text-align: center;
  margin: 0%;
  color: aliceblue;
}

.projects {
  margin: auto;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
